.App-wrapper {
  min-height: 100vh;
  max-width: 1024px;
  background: linear-gradient(#a3554f,#48194a);
  margin: 0 auto;
  padding-top: 50px;
  overflow-y: hidden;
}

/*
  Table
*/
.Table {
  max-width: 300px;
  min-height: 450px;
  background: #fff;
  margin: 0 auto;
  border-radius: 5px;

}
.Table--header {
  position: absolute;
  top: 50px;
  background: blue;
  height: 50px;
  width: 100%;
  color: #000;
}
